@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Protest+Revolution&display=swap');
@import url(./style.css);

/* ---- THEME ---- */
:root{ /*selector root = racine avec les variables*/ 
    --bgcolor:rgba(0, 98, 102,1.0);
    --colortext:#fff;
    --colorborder:#000000;
    --bgcolcentre:rgb(222, 221, 219);
    --linkcolor:blue; 
    --borderradius: .6rem;
    --subbtitle:uppercase;
    --btn-default-color : #817f7f;
    --subtitile-color:rgb(21, 118, 52);
}

header>h1{
    color: var(--colorborder);
    font-weight: normal;
    line-height: 4rem;
    text-align: center;
    text-shadow: var(--colorborder);
    font-size: 5rem;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}
h2{
    text-align: center;
    line-height: 5.5rem;
    background-color: var(--bgcolor);
    color: var(--colortext);
    text-transform: var(--subbtitle);
}

section {
    max-width: 90rem;
    margin: 5rem auto;
    border: solid 0.5rem var(--colorborder);
    padding: 0.5rem;
    background-color:var(--bgcolcentre);
    border-radius: var(--borderradius);

}
section p,ul{
    line-height: 3rem;
    padding: .1rem;
    
}
section a{
    color:var(--linkcolor);
}
section img {
    width: 100%;
}
.btns-default{
    display: inline-block;
    width: max-content;
    background-color: var(--btn-default-color) ;
    line-height: 2rem;
    padding: .5rem 2rem;
    border-radius: var(--borderradius);
}


.btn-option-success{
    background-color: var(--bgcolor);
    color: var(--colortext);
    cursor: pointer;
}

.btn-option-warning{
    background-color:var(--btn-default-color);
    color: var(--colortext);
}

.btn-title-color-default{
    background-color: var(--subtitile-color);
    color: var(--colortext);
}
a:hover{
    background-color: var(--colorborder);
    cursor: pointer;
    
}

footer *{
    text-align: center;
    color:var(--colorborder);
}
section ul, li {
    list-style-type:circle;
    margin: .4rem auto;
    max-width:85rem;
}

section h3{
    margin:.4rem;
}
