@import url(./style.css);

/* ---- THEME ---- */

header>h1{
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-weight: normal;
    line-height: 4.5rem;
    text-align: center;
    text-shadow: 5px 5px 0px rgba(0,0,0,0.2);
    font-size: 3.5rem;
}
section h2{
    text-align: center;
    line-height: 5.5rem;
    background-color: rgba(0, 98, 102,1.0); 
    color: #fff;
}

section {
    max-width: 90rem;
    margin: 5rem auto;
    border: solid 0.5rem #333;
    padding: 0.5rem;
    background-color:rgb(222, 221, 219) ;

}
section p,ul{
    line-height: 3rem;
    padding: 1rem;
}
section a{
    color: blue;
    text-decoration: underline;
}
section img {
    width: 100%;
}

footer *{
    text-align: center;
    color: #fff;
}